# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

backend/node_modules/
frontend/masions/node_modules/

dist/
dist-ssr/
backend/dist/
frontend/masions/dist/
backend/build/
frontend/masions/build/

backend/.env
frontend/masions/.env
*.local

.env

.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tmp
*.pid
*.pid.lock

.eslintcache

coverage/
*.lcov

backend/package-lock.json
frontend/masions/package-lock.json

.vite/
